body {
  background-image: url("../images/Background.png");
}

header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.racer_table td {
  height: 150px;
  width: 150px;
  background-image: url("../images/Cloud1.png");
  background-size:100% 100%;
  -webkit-background-size:100% 100%;        /*  Safari  */
  -moz-background-size:100% 100%;           /*  Firefox  */
}

#player1_strip .active{
  background-image: url("../images/Unicorn4.png");
  background-size:100% 100%;
  -webkit-background-size:100% 100%;        /*  Safari  */
  -moz-background-size:100% 100%;           /*  Firefox  */
}
#player2_strip .active{
  background-image: url("../images/Unicorn2.png");
  background-size:100% 100%;
  -webkit-background-size:100% 100%;        /*  Safari  */
  -moz-background-size:100% 100%;           /*  Firefox  */
}

footer a{
  color: white;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

